<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>naMizu Admin View</title>
        <style>
            body {
                font-size: large;
            }
            p {
                margin: 2% 2% 2%;
            }
        </style>
    </head>
    <body>
        <h1>ADMIN INFO</h1>

        <p>naMizu has been visited {{ visitCount }} times so far.</p>
        <p>{{ loggedinUsers }} are logged in currently.</p>
        <p>{{ usersCompletedDailyPoll }} have already completed the daily poll.</p>
        <p>{{ activeUsers }} are might be active currently.</p>
        <p>There are {{ bannersCount }} funny banner messages in the bank.</p>
        <a href="{{ url_for('namizu.bannersList') }}">
            <p>List of banner messages</p>
        </a>
        <p>There are {{ historyCount }} days of history.</p>
        <a href="{{ url_for('namizu.historyList') }}">
            <p>History of events</p>
        </a>
        <p>There are {{ allEventsCount }} events in the bank.</p>
        <p>{{ unusedEventsCount }} events are unused yet.</p>
        
        <a href="{{ url_for('namizu.eventsList') }}">
            <p>List of events</p>
        </a>
        <p>sideQuestNumSeq: [1,4,8,11,15,18,22,25,28]</p>
        <p>storyNumSeq: [3,9,15,21,28]</p>
        <p>dailyJokeNumSeq: [2,3,5,6,7,9,10,12,13,14,16,17,19,20,21,23,24,26,27,29,30,31]</p>
        <br><br><br><br>
        <a href="{{ url_for('namizu.resetDayCommand') }}">
            <p>DEBUG: Reset Day</p>
        </a>
    </body>
</html>

