<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2298/2298487.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>naMizu</title>
    <style>
        body {
            margin: 0%;
        }
    </style>
</head>
<body>
    <div>
        SKY
    </div>
    <div>
        Grass
        <img src="{{ url_for('static', filename='img/grass.svg') }}" width="1000px" alt="">
    </div>
    

</body>

</html>
